# Dependencies
node_modules/

# Next.js Build Output
.next/
out/

# IDE Settings
.vscode/

# Environment Variables (สำคัญมาก ห้ามเอาขึ้น GitHub)
.env
.env.local

# Prisma / Database
# ถ้าคุณอยากให้อาจารย์เห็นข้อมูลตัวอย่างที่คุณจองไว้ ให้ลบบรรทัด dev.db ออก
# แต่ถ้าอยากให้เป็นฐานข้อมูลเปล่าๆ ให้ใส่ไว้ครับ
prisma/dev.db
prisma/dev.db-journal

# OS Metadata
.DS_Store
Thumbs.db